<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ProductsShop.entitlements
   ProductsShop

   Created by Ernestas on 2021-02-09.
   Copyright (c) 2021 . All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>aps-environment</key>
    <string>development</string>
    <key>keychain-access-groups</key>
    <array>
      <string>$(AppIdentifierPrefix)com.ios.products_shop.develop</string>
    </array>
  </dict>
</plist>
