//
//  stage.debug.xcconfig
//  Products Shop

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-ProductsShop/Pods-ProductsShop.stage-debug.xcconfig"

#include? "tmp.xcconfig"

ENVFILE = .env.stage.debug

PRODUCT_BUNDLE_IDENTIFIER = com.ios.products_shop.stage

APP_NAME = Products Shop Stage (debug)

DEVELOPMENT_TEAM = Y59HA977T2

CODE_SIGN_STYLE = Automatic

CODE_SIGN_IDENTITY = iPhone Developer

PROVISIONING_PROFILE_SPECIFIER =

VERSION_ORIGIN = origin/stage

SENTRY_PROJECT_SLUG = products-shop-app-stage

URL_SCHEME = products-shop
